node_modules/
Chapter**/Exercise-*-*/
*/*/app/*.js
*/*/app/*.map
/nbproject/
*/*/app-og/
*/*/diveapp/*.js
*/*/diveapp/*.map
!*/*/dives.js
/**.zip
/Chapter04/My04-05/backendRegInfo
/RemoteSystemsTempFiles/
/.project
/.metadata
/.settings
/Chapter04/My04-05/app/api-auth-info.ts
/*/*/*/*/*.js
/*/*/*/*/*.js.map
