<small>this is the first thing in the dive-log.template.html</small>
<div class="container-fluid">
    <h1>My Dive Records (Total: {{diveAry.length}}) </h1>
    <div class="col-sm-4 col-sm-offset-8">
        <button class="btn btn-primary btn-lg"
            [disabled]="!canAddDive()"
            (click)="addDive()" >
            Add New Dive / Site
        </button>
        <button class="btn btn-danger btn-lg"
            (click)="clearDives()">
            Clear All Dives
        </button>
        <input #searchBox class="form-control input-lg"
                placeholder="Filter Dives"
                (keyup)="0" />
    </div>
    <div class="row">
        <p *ngIf="searchBox.value" >Active Dive Filter: &ldquo;{{searchBox.value}}&rdquo;</p>
        <div class="col-sm-4"
            *ngFor="let dive of diveAry | diveFilter:searchBox.value" >
            <h3>{{dive.site}}</h3>
            <h4>{{dive.location}}</h4>
            <h4>{{dive.depth}} feet @ {{dive.time}} min.</h4>
        </div>
    </div>
</div>
<small>this is the last thing in the dive-log.template.html</small>