<div class="row">
  <div class="col-sm-12">
    <h4>Tokens to collect: {{tokens}}</h4>
    <button class="btn btn-sm"
      [disabled]="tokens > 100"
      (click)="tokens=tokens+1">
      &#8724;
     </button>
    <button class="btn btn-sm"
      [disabled]="tokens < 1"
      (click)="tokens=tokens-1">
      &ndash;
     </button>
     <msg-board></msg-board>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>Tokens collected: {{collected}}
      <span *ngIf="collected >= tokens">
        [Done!]
      </span>
    </h4>
  </div>
</div>
	<!-- [cheaterTokens]="getCheaterTokens()" -->
<h2>Plain Divers</h2>
<yw-diver *ngFor="let diver of diverAry"
	[diverName]="diver"
	(onTokenEvent)="handleTokenEvent($event)">
</yw-diver>

<h2>Coupled Divers</h2>
<yw-diver-coupled *ngFor="let name of coupledDiverAry"
	[diverName]="name"
	gameCtx="getInstance()" >
</yw-diver-coupled>

<h2>DI Divers</h2>
<yw-diver-di *ngFor="let name of diDiverAry"
	[diverName]="name" ></yw-diver-di>
