<form>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="site">Dive site</label>
        <input name="site" id="site" class="form-control"
			[(ngModel)]="entry.site"
			#tiSite="ngModel"
			[class.has-error]="tiSite.invalid"
			required pattern="[a-zA-Z0-9 &]+"
          	placeholder="Dive site" />
		<div *ngIf="tiSite.errors?.required" class="help-block">
			Please enter a name for this site.
		</div>
		<div *ngIf="tiSite.errors?.pattern" class="help-block">
			Please use only letters &amp; numbers.
		</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="location">Location</label>
        <input name="location" id="location" class="form-control"
			[(ngModel)]="entry.location"
			#tiLocation="ngModel"
			[class.has-error]="tiLocation.invalid"
			required
          	placeholder="Location">
		<div *ngIf="tiLocation.errors?.required" class="help-msg">
			Please enter a location for this site.
		</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="depth">Max. depth</label>
        <input name="depth" id="depth" type="number" class="form-control"
				[(ngModel)]="entry.depth"
				#tiDepth="ngModel"
				[class.has-error]="tiDepth.invalid"
				required
				max="500" maxlength="2" >
		<div *ngIf="tiDepth.errors?.required" class="help-msg">
			Please enter the depth of the dive.
		</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="time">Bottom time</label>
        <input name="time" name="time" id="time" class="form-control"
				type="number" max="240"
				[(ngModel)]="entry.time"
				#tiTime="ngModel"
				[class.has-error]="tiTime.invalid"
				required
				>
		<div *ngIf="tiTime.errors?.required" class="help-msg">
			Please enter length of time for the dive (in minutes).
		</div>
      </div>
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input name="favorite" type="checkbox"
	  		[(ngModel)]="entry.isFavorite" >
      Mark as favorite
    </label>
  </div>
  <div class="form-group">
    <label>Special dive</label>
    <div class="radio"
      *ngFor="let diveType of specialDivesAry">
      <label>
        <input name="special" type="radio"
				[value]="diveType"
				[(ngModel)]="entry.special">
        {{diveType}}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea name="comments" id="comments" rows="5" class="form-control"
    		[(ngModel)]="entry.comments"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">
    Submit
  </button>
  <br>
  <pre>{{entry | json}}</pre>
</form>
